@model GroceryStoreRewards.Models.ConvertAmounts

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConvertAmounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sourceAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sourceAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sourceUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sourceUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.targetAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.targetAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.targetUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.targetUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="type" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
